<div>
  <%= link_to 'Back', post_path(slug: params[:post_slug])%>
  <p> <%= @p_comment.body%> </p>

  <%= form_with model: @reply, url: reply_to_comment_post_comment_path(post_slug: params[:post_slug] || @p_comment.post.slug , id: @p_comment.id), method: :post do |form| %>
    <h3>Reply to this comment</h3>

    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body, required: true %>
    </div>
    <%= form.submit 'Reply' %>
  <% end %>
  <br>
  <% if @p_comment.replies %>
  <%= @p_comment.replies.count %> <%= 'reply'.pluralize(@p_comment.replies.count) %>
    <% @p_comment.replies.each do |comment| %>
      <div> 
        <strong><%= comment.user.full_name %></strong>
        <p><%= comment.body %></p>
        <% if can? :update, comment %>
          <%= link_to edit_reply_post_comment_path(post_slug: params[:post_slug], id: comment.id) do %>
            <button>edit</button>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>