<%= form_with model:@tag, url: tags_path, method: :post do |form| %>
    <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, required: true %>
    </div>

    <div class="field">
        <%= form.label :description %>
        <%= form.text_area :desc, required: true %>
    </div>

    <%= form.submit 'Create Tag' %>
<% end %>