<div class="container">
    <div style="width: 80%; margin: 10px auto;">
        <div class="field form-group my-1">
            <%= form.label :title, class:"fw-bold" %>
            <%= form.text_field :title, required: true, class:"form-control" %>
        </div>
        <div class="field form-group my-1">
            <%= form.label :summary, class:"fw-bold" %>
            <%= form.text_field :summary, required: true, class:"form-control" %>
        </div>

        <div class="field form-group my-1">
            <%= form.label :photo_url, class:"fw-bold" %>
            <%= form.text_field :photo_url, required: true, class:"form-control" %>
        </div>

        <div class="field form-group my-1">
            <%= form.label :category_id, 'Select Category', class:"fw-bold" %>
            <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: 'Select appropriate Category' }, required: true, class:"form-control" %>
        </div>

        <div class="field form-group my-1">
            <%= form.label :tag_ids, 'Include Topics [Select all that apply]', class:"fw-bold" %> <br>
            <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name, { prompt: 'Include tags' }, class:"form-check-input", style:"display: block; margin-right: 5px;" %>
        </div>

        <div class="field form-group my-2">
            <%= form.label :body, class:"fw-bold" %>
            <%= form.rich_text_area :body, required: true %>
        </div>
    </div>
</div>
