<h1><%= @post.title %> in CATEGORY: <%= @post.category.name %> </h1> 
<%= link_to 'Back', posts_path %>

<% if can? :update, @post%>
    <%= link_to 'Edit', edit_post_path %>
<% end %>

<p>Posted On <%= formatted_time(@post.created_at) %> by <%= @post.user.full_name %> </p>
TAGS:
<% @post.tags.each do |tag| %>
    <p><%= tag.name %></p>
<% end %>
<img src="<%= @post.photo_url %>" alt="Image Description">

SUMMARY: <%= @post.summary %>
BODY: <%= @post.body %>

<%= render 'comments/new' %>

<p><%= @post.comments_count %> <%= 'comment'.pluralize(@post.comments_count)%></p>
<% @post.comments.each do |comment| %>
    <div style="margin: 5px auto;">
        <p> <%= comment.body %> </p>
        <%= link_to post_comment_path(post_slug: @post.slug, id: comment.id) do %>
            <button>reply</button>
        <% end %>
        <% if can? :update, comment %>
            <%= link_to edit_post_comment_path(post_slug: @post.slug, id: comment.id) do %>
                <button>edit</button>
            <% end %>
        <% end %>
        <span><%= comment.replies.count %> <%= 'reply'.pluralize(comment.replies.count) %> </span>
    </div>
<% end %>
